@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mikhak-Bold';
    src: url('../fonts/Mikhak-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mikhak-Medium';
    src: url('../fonts/Mikhak-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mikhak-Regular';
    src: url('../fonts/Mikhak-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mikhak-Light';
    src: url('../fonts/Mikhak-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

